@import '../containers/App.scss';

.MyEvents {
  align-items: center;
  background-color: var(--card);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3em auto;
  padding: 1em;
  width: 80%;

  table {
    @include table();
  }
}